<html>

<head>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>

<body>
    <h3>Thanks for signing up for the Tech Career Launchpad Bootcamp</h3>
    <p>Hello {{name}},</p>
    <p>Your interest in expanding your skills is commendable, and we are excited to guide you on this journey.</p>
    <p>To confirm your spot and gain access to our live classes, you'd be redirected to the payment portal to make
        payment <strong>(NGN 3,000)</strong> for the bootcamp, if you have made payment kindly ignore and await your
        confirmation email.
    </p>
    <p>We appreciate your commitment to enhancing your tech expertise, and we are confident that TECH CAREER LAUNCHPAD
        will provide you with valuable insights and hands-on experience.</p>
    <p>If you have any questions about the payment or experiencing difficulty making payment online, feel free to reach
        out to our dedicated support team at support@techprosnaija.com</p>
    <p>We look forward to having you on board and can't wait to see the incredible progress you'll make during the
        program.</p>
    <hr>
    <p>Praise Olakanmi<br>COO, TechProsNaija</p>
</body>

</html>